
/* Control the left side */
.first {
  position:absolute;
  background-image: url("Assets/spaceshooter.gif");
  height: 25%;
  width: 25%;
  left:0%;
  background-size: cover;
  background-position: 0 0;
}

/* Control the right side */
.second {
  position:absolute;
  background-image: url("Assets/website.gif");
  height: 25%;
  width: 25%;
  left:25%;
  background-size: cover;
  background-position: 0 0;
}

.third {
  position:absolute;
  background-image: url("Assets/painter.gif");
  height: 25%;
  width: 25%;
  left:50%;
  background-size: cover;
  background-position: 0 0;
  float:left;
}

.fourth {
  position:absolute;
  background-image: url("Assets/test.png");
  height: 25%;
  width: 25%;
  left:75%;
  background-size: cover;
  background-position: 0 0;
  float:left;
}

/* If you want the content centered horizontally and vertically */
.centered {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
 width: 150px;
 border-radius: 50%;
}

.button {
    background-color: #002b80;
    border: 1px solid black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 8px 4px;
    cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #002b80;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
}

.overlay:hover {
  opacity:.95;
  transition: .5s ease;
}

name {
    float: left;
    position:absolute;
    top:25%;
    width: 100%;
    height:50%;
    background-color: #666;
}
.adminButton {
    position:absolute;
    left:90%;
}
